<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-exclusao">
    Launch demo modal
  </button>
<!--Botao que serviu de exemplo pra teste-->
  <!-- Esse modelo é para exclusão para outros tipos, alterar a linha 11 onde está o i(fontawesome) e o texto que esta dentro do p -->
<div class="modal fade" id="modal-exclusao" tabindex="-1" role="dialog" aria-labelledby="modal-exclusao" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <div class="w-100 text-center">
                    <h5 class="modal-title"><i class="far fa-trash-alt text-danger display-4"></i></h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p>O registro será excluído do sistema.</p>
                <p>Confirma a exclusão?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-excluir" type="button" class="btn btn-lg btn-primary btnExcluir">Sim</button>
                <button type="button" class="btn btn-lg btn-outline-dark" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>