<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>Administrador</title>

    <!-- Custom fonts for this template-->
    <link href="/js/sbadmin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/js/sbadmin/css/sb-admin-2.min.css" rel="stylesheet">
    <style>
        a {
            color: black;
        }
    </style>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-dark accordion" style="background-color:#292929" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-paw"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Mapet</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/modulos">
                    <i class="fas fa-fw fa-border-all"></i>
                    <span>Módulos</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/agenda/listar">
                    <i class="fas fa-fw fa-calendar"></i>
                    <span>Agenda</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/historico/listar">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Históricos</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/perfil">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Perfil</span>
                </a>
            </li>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid" style="padding-right: 0px; padding-left: 0px;">

                    <!-- Page Heading -->
                    <nav class="navbar navbar-light bg-white" style="padding-bottom: 0px;padding-top: 0px;height: 80px; margin-bottom: 1%;">
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800 pt-3">Registro de Raça</h1>
                        </div>
                        <a href="/racas/listar"><button id="btn-cancelar" class="btn btn-primary">Cancelar</button></a>
                    </nav>
                    <section class="page-content">
                        <div class="container">
                            <div class="col-md-12">
                                <div id="div-table-content" class="card show  mb-1">
                                    <div class="card-body">
                                        <form action="/racas/salvar_cadastro" name="form" method="POST" onsubmit="return validateFormRaca()" role="form">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-md-6 pr-2">
                                                    <div class="form-group">
                                                        <label>
                                                            Nome
                                                        </label>
                                                        <input type="text" name="nome_raca" class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 pr-2">
                                                    <div class="form-group">
                                                        <label>
                                                            Espécie
                                                        </label>
                                                        <select name="id_especie" class="form-control" required>
                                                            <option value="">Selecione</option>
                                                            <% for(var i = 0; i < dados.length; i++) { %>
                                                            <option value="<%=dados[i].id_especie%>"><%=dados[i].nome_especie%></option>
                                                            <% } %>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Registrar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="/js/sbadmin/vendor/jquery/jquery.min.js"></script>
        <script src="/js/sbadmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/js/sbadmin/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/js/sbadmin/js/sb-admin-2.min.js"></script>
        <script src="/js/Personalizados/validacao.js"></script>

</body>

</html>
